/* MarkButton active state overrides */
.mark-button-custom {
  transition: none !important;
}
.mark-button-custom[data-active-state="on"] {
  background-color: rgb(79 70 229) !important;
}
.mark-button-custom[data-active-state="on"] svg {
  color: white !important;
}
.dark .mark-button-custom[data-active-state="on"] {
  background-color: rgb(79 70 229) !important;
}
.dark .mark-button-custom[data-active-state="on"] svg {
  color: white !important;
}

/* Editor content styles */
.ProseMirror h1,
.site-page-content h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  line-height: 1.2;
}
.ProseMirror h2,
.site-page-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  line-height: 1.3;
}
.ProseMirror h3,
.site-page-content h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  line-height: 1.4;
}
.ProseMirror ul,
.site-page-content ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.ProseMirror ol,
.site-page-content ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.ProseMirror li,
.site-page-content li {
  margin-bottom: 0.25em;
}
.ProseMirror a,
.site-page-content a {
  color: rgb(79 70 229);
  text-decoration: underline;
}
.ProseMirror a:hover,
.site-page-content a:hover {
  color: rgb(67 56 202);
}
