@import "tailwindcss";
@import './styles/_variables.scss';
@import './styles/_keyframe-animations.scss';

@theme {
  --font-sans: "Albert Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
